body {
  font-family: "Arial" !important;
  font-size: 0.888rem !important;
}
p {
  font-size: 0.888rem;
  font-weight: bold;
}
label,
button,
span {
  font-size: 0.888rem;
}

.selection_box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231 226 226 / 50%);
  padding: 0.5rem;
}
.btn-green {
  background-color: #28a5fb;
  border-color: #28a5fb;
}
.btn {
  margin-right: 0.5rem;
  margin-left: 0.5rem;

  background-color: #28a5fb;
  /* border-color: #4caf50; */
}

.btn-green:hover {
  background-color: #28a5fb;
  border-color: #28a5fb;
}

.rowData {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.searchBar {
  /* padding-top: 1rem;
    padding-bottom: 1rem;

    background-color: #ffca28; */
}

.graph_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin-top: 15px; */
  /* border: 2px solid black; */
  border-radius: 1rem;
  width: 100%;
  /* height: 600px; */
  height: 85vh;
}

.error-border {
  border: 2px solid red;
}

.alert2 {
  display: none;
}

/* slider css  */

input[type="range"] {
  width: 100%;
}

/* csss slider    */

.wrapper {
  z-index: 2;
  /* width: 400px; */
  width: 250px;
  background: #fff;
  border-radius: 10px;
  padding: 20px 25px 40px;
  /* box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1); */
  display: none;
}

header h2 {
  font-size: 0.888rem;
  font-weight: 600;
}

header p {
  margin-top: 5px;
  font-size: 0.888rem;
}

.price-input {
  width: 100%;
  display: flex;
  margin: 10px 0 10px;
}

.price-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}

.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 0.888rem;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 0.888rem;
  align-items: center;
  justify-content: center;
}

.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}

.slider .progress {
  height: 100%;
  left: 0%;
  right: 0%;
  position: absolute;
  border-radius: 5px;
  background: #ddd;
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #28a5fb;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #ddd;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

/* slider css ended here */

/* LEGEND CSS STARTED HERE  */
.legend {
  display: flex;
  border: 2px solid black;
  margin-top: 1rem;
  border-radius: 1rem;
  background-color: white;
  width: 100%;
}
.legend_inner {
  font-size: 0.888rem;
}

.legenddata {
  font-weight: 500;
  font-size: 0.888rem;
  padding-left: 1rem;
}

.marked {
  text-decoration: line-through;

  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.rect {
  display: inline-block;
  width: 20px;
  height: 10px;
  border-radius: 2rem;
  margin-right: 3px;
}

.line {
  display: inline-block;
  width: 30px;
  height: 5px;
  border-radius: 0.5rem;
  margin-right: 5px;
}

.circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 2rem;
  margin-right: 3px;
}

ul {
  list-style-type: none;
}

/* LEGEND CSS ENDED HERE  */
/* here is the styling of the color picker */

.card {
  background-color: #fff;
  border-radius: 1rem;
  padding: 5px;
  box-shadow: 0 30px 30px -15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 55%;
  left: 20%;
}

.cl-picker {
  text-transform: uppercase;
  /* letter-spacing: 1px; */
  font-weight: bold;
  margin: 1px;
}

.card ul {
  list-style: none;
  /* padding: 24px; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  padding-left: 0;
  margin: 1px;
}

.card ul li {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s;
}

.card ul li:hover {
  transform: scale(1.1);
}

#red {
  background-color: #ef5350;
}

#green {
  background-color: #28a5fb;
}

#amber {
  background-color: #ffca28;
}

#blue {
  background-color: #42a5f5;
}

#gray {
  background-color: #bdbdbd;
}

/* here is the styling of the color picker ended  */

/* svg loader  */
.loader {
  position: absolute;
  display: none;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #28a5fb;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* loader css ended  */

/* slider2  */

.sliderpart2 {
  display: flex;
  flex-direction: row;

  position: relative;
  /* top: 92%;
    left: 25%; */
  /* width: 650px; */
  width: 100%;
  /* border-radius: 20px; */
  display: flex;
  align-items: center;
  bottom: 2%;
  /* box-shadow: 0px 5px 20px #7e6d5766; */
}

.sliderpart2 p {
  font-size: 0.888rem;
  font-weight: 600;
  padding-left: 10px;
  color: black;
}

.sliderpart2 input[type="range"] {
  -webkit-appearance: none !important;
  width: 420px;
  height: 2px;
  background: #28a5fb;
  border: none;
  outline: none;
  /* height: 17px;
    width: 17px; */
  border: none;
  /* border-radius: 50%; */
  background: #ddd;
  pointer-events: auto;
  /* -moz-appearance: none; */
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.fieldset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 2rem;
}

.sliderpart2 input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 20px;
  height: 20px;
  background: #28a5fb;
  border: 2px solid #28a5fb;
  border-radius: 50%;
  cursor: pointer;
}

.sliderpart2 input[type="range"]::-webkit-slider-thumb:hover {
  background: black;
}

.btn1 {
  background-color: #28a5fb;
  /* Background color */
  color: white;
  /* Text color */
  border: none;
  /* Remove the border */
  padding: 10px 20px;
  /* Add padding to the button */
  text-align: center;
  /* Center the text horizontally */
  text-decoration: none;
  /* Remove underlines from links */
  display: inline-block;
  /* Make it an inline block element */
  font-size: 0.888rem;
  /* Font size */
  margin: 4px 2px;
  /* Add margin to the button */
  cursor: pointer;
  /* Add a pointer cursor on hover */
  border-radius: 4px;
  /* Rounded corners */
}

/* Change the button background color on hover */
.btn1:hover {
  background-color: #28a5fb;
}

/* overlay css  */
section {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #e3f2fd;
}

button {
  /*font-size: 0.888rem;*/
  /* font-weight: 400; */
  color: #fff;
  /* padding: 14px 22px; */
  border: none;
  background: #4070f4;
  border-radius: 6px;
  cursor: pointer;
}

button.show-modal,
.modal-box {
  z-index: 100;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

section.active .show-modal {
  display: none;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}

section.active .overlay {
  opacity: 1;
  pointer-events: auto;
}

.modal-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  opacity: 0;
  pointer-events: none;
  z-index: 999;
}

.model_box_inner {
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 380px;
  width: 100%;

  padding: 30px 20px;
  border-radius: 24px;
  background-color: #fff;
  opacity: 1;
  /* pointer-events: none; */
  transition: all 0.3s ease;
  transform: translate(-05%, -05%);
}

section.active .modal-box {
  opacity: 1;
  pointer-events: auto;
}

.modal-box h2 {
  margin-top: 20px;
  font-size: 0.888rem;
  font-weight: 500;
  color: #333;
}

.modal-box h3 {
  font-size: 0.888rem;
  font-weight: 400;
  color: #333;
  text-align: center;
}

.modal-box .buttons {
  margin-top: 25px;
}

.modal-box button {
  font-size: 0.888rem;
  padding: 6px 12px;
  margin: 0 10px;

  background-color: #28a5fb;
}

.exportbtn {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 20px;
}

#buttonbar {
  display: none;
}

.alignitems {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  /* margin: 20px; */
  gap: 20px;
}

.sliderbtn {
  padding: 4px 0px;
  background: #28a5fb;
  /* margin: 5px; */
  width: 89px;
}

/* drugdata description  */

body {
  background-color: white;
  margin: 0;
  /* overflow: hidden; */
  height: auto;
  /* height: 150vh; */
  /* Prevent body overflow when the modal is open */
}

.parent_description {
  /* width: 90%;
    height: 60%; */
  display: none;
  position: absolute;

  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.blur_the_background {
  display: none;
  width: 100%;
  top: 0%;
  
  z-index: 999;

  height: 100vh;
  backdrop-filter: blur(10px);
  position: absolute;

  
  z-index: 999;
}

.blur_the_background.show {
  display: block;
}

.parent_description.show {
  display: block;
}

.toggle {
  list-style: none;
  /* Remove default list styles */
  padding: 0;
}

.toggle input[type="radio"] {
  display: none;
  /* Hide the default radio buttons */
}

.toggle label {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #e0e0e0;
  cursor: pointer;
}

.toggle input[type="radio"]:checked + label {
  background-color: #3498db;
  /* Change background color for the selected option */
  color: #ffffff;
  /* Change text color for the selected option */
}

#parent_des_close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  max-height: 100px;
  overflow: auto;
}

/* table css  */

table {
  border-collapse: collapse;
  width: 90%;
  margin-top: 20px;
  max-height: 500px;
  overflow: auto;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  height: 10px !important;

  overflow: auto;
}

th {
  background-color: #f2f2f2;
}

/* Apply bolder style to the left-side (key) cells */
td:first-child {
  font-weight: bold;
}

.table-container {
  max-height: 400px;
  /* Set the maximum height for the container */
  overflow-y: auto;
  /* Enable vertical scrollbar when content overflows */
}

td {
  white-space: pre-line;
  /* Preserve newline characters */
}

b {
  font-weight: bold;
}

.wrapper {
  width: 22%;
}

.forcenetwork {
  width: 78%;
  background-color: white;
}

.slider2size {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 21rem; */
  margin-bottom: 2rem;
}

.form-select {
  width: 100%;
}
.dropdown {
  display: inline-block;
  position: relative;
}

/* Style for the dropdown button */
.dropdown label {
  padding: 10px;
  font-size: 0.888rem;
  /* border: 1px solid #ccc; */
  cursor: pointer;
  background-color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
  /* Adjust the width as needed */
  position: relative;
}

/* Style for the arrow icon */
.dropdown button::after {
  content: "\25BC";
  /* Unicode character for downward arrow */
  font-size: 0.888rem;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

/* Style for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 550px;
  /* Adjust the max-height as needed */
  overflow-y: auto;
}

/* Style for the checkboxes inside the dropdown */
.dropdown-content label {
  display: block;
  padding: 8px;
  cursor: pointer;
}

.dropdown-content input {
  margin-right: 8px;
}

/* Define styles for tooltip2 */
.tooltip2 {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 0.888rem;
  pointer-events: none;
}

.tooltip2 strong {
  font-weight: bold;
}

.in_de_Crement {
  display: flex;
  visibility: hidden;
}

#dialog-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
  z-index: 1000;
  cursor: move;
  overflow: hidden;
  border-radius: 8px;
}

#dialog-header {
  cursor: move;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

#search-bar {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

#name-list {
  max-height: 200px;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#name-list2 li {
  margin-bottom: 5px;
}

#no-matches {
  display: none;
  color: #888;
}

/* fitler button  */
.fitlerbtn {
  background-color: transparent;
  color: blue;
  font-size: 0.888rem;
  text-decoration: underline;
  text-align: start;
  padding-left: 0;
}

.fitlerbtn:hover {
  color: red;
  font-weight: 500;
}

/* MULTISELCT FORM  */

@media (max-width: 1000px) {
  /* Change the width to 80% when the screen size is less than 900 pixels */
  .wrapper {
    margin: 5rem;
    width: 100%;
  }

  .forcenetwork {
    /* right: 20%; */
    width: 100%;
  }

  .graph_div {
    height: 100vh;
  }

  .slider2size {
    width: 9rem;
  }

  .form-select {
    width: 200px;
  }

  .rowData {
    flex-wrap: wrap;
  }

  .selection_box {
    flex-wrap: wrap;
  }
}
